img
{
	width: 20px;
}
.form
{
	margin-top: 65px;

}
.submit
{
	margin-left: 15px;
	border-radius: 0px;
	width: 50px;
    font-family: 'Nunito', sans-serif;
	size: 13px;
	font-weight: 500px;
	height: 35px;
}
#search
{
	width: 150px;
	
}
.items
{
    font-family: 'Nunito', sans-serif;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.4px;
	width: 10px;
	height: 35px;
	margin-top: 50px;
}
.navbar
{
	background-color: #59b210
}
.dropdown
{
    font-family: 'Nunito', sans-serif;
}
span
{
	color: white;

}
.nav-item
{
	color: white;
	text-decoration: none;

}
a:link
{
	text-decoration-line: none;
	text-decoration: none;
}
.dropdown
{
	margin-right: 50px;
	margin-left: 20px;
}
#farmer
{
	width: 77px;
    height:110px;
}
.carousel-inner
{
	height: 575px;
	width: 492px;
}
#carouselExampleControls
{
	margin-top: 23px;
}
.image1
{
	height: 150px;
	width: 190px;
	margin-top: 23px;
	margin-bottom: 5px;
}
.category{
    background:#fff;
    font-size: 1.4rem;
    border-radius:3px;
    margin-left: 25px;
   
}
.ctghead{
    padding: 2px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

}
.ctghead h3 i{
    font-size:2.1rem;
    margin-right:7px;
   
}

.ctgul{
    margin-top:16px;
    padding:0 0 16px 0;
}
.ctgulChild{
    margin: 0 0 0 30px;
    padding:0 0 10px 0;

}

.ctgliChild{
    font-size: 1rem;
    display: block;
    position: relative;
    list-style: none;
    transition:.3s linear;
    /* box-shadow: transparent 0px 14px 13px -12px, transparent 0px 26px 32px -22px; */

}

.ctgli:hover{
    border-left: 4px solid var(--hove);
    background:#d2ffe221;
    /* box-shadow: rgba(50, 50, 93, 0.08) 0px 14px 13px -12px, rgba(0, 0, 0, 0.16) 0px 26px 32px -22px; */
}

.ctga, .ctgaChild{
    
    width: 100%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #333;
    text-decoration: none;
    padding: 13px 40px 13px 34px;
    
    position: relative;
    right: 0;
    transition: right linear .3s;
}
.ctga i{
    margin-right:10px;}

.ctgaChild{
    font-size: 1.3rem;
    padding: 13px 13px 13px 36px;
}
.ctga:hover, .ctgaChild:hover{
    /* right:-4px; */
    color:var(--hove);
    
}
.ctgaChild::before {
    top: 50%;
    transform:translateY(-50%);
    left: 20px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent transparent var(--hove);
    border-width:4px;
    content: "";
    
}
.down{
    position: absolute;
    font-size:1.1rem;
   right:10%;
   top: 50%;
   transform: translateY(-50%) rotate(360deg);
}
.ctgulChild{
    
    display:none;
}
.ctgli{
    display: block;
    position: relative;
    list-style: none;
    border-left: 4px solid transparent;
    transition:.3s linear;
}
.showed{
    background:#d2ffe221;;
    border-left:4px solid var(--hove)!important;
}

.showed .ctga{
    color: var(--hove);
    font-weight:bold;
   }

.showed .ctga i{
    
    font-weight:bold;
    
}
.down {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.wtok .down {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

/*  base.css*/
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

:root{

    --white:#fff;
    --black:#000;
    --textColor:#333;
    --hove:#04ca88;
}
html{
    font-size:75%;
    font-family: 'Nunito', sans-serif ;
    line-height:1.6 rem;
    box-sizing: border-box;
}


a{
  text-decoration: none;
}
p{
   font-size:15px;
    /* 1.6 rem --> 16px */
}

h1{font-size:2.2rem;margin-top: 45px;}
.grid{
    margin : 0 auto;
    max-width: 1280px;
}

#row{
    font-family: 'Nunito', sans-serif ;
    line-height:1.6 rem;
    box-sizing: border-box;
}


.col-3{
  padding:0 12px 0 12px;
  width:calc((100%/12)*3);

}
#imageCategory
{
margin-top:15px;
width:15px;
height:30px;
}
#imageCategory1
{
margin-top:15px;
width:70px;
height:40px;
}
#imageAgr
{
    width:80px;
    height:90px;
    border-radius:50%
}
a,span
{
font-size:14px;
font-family:ubuntu;
}
#prix
{

    font-family: 'Nunito', sans-serif;
	  color: green;
      font-size: 12px;
       font-weight: bold;
       text-align:center;
}
.span {
  display: block;
  font-size: 21px;
  color: black;
    font-family: 'Nunito', sans-serif;

}
#card
{
display: inline-block;
  width: 170px;
  height: 190px;
  margin: 1em;
}
#cardText,span{
font-size:11px;}
#form1
{
margin-left:15px;}
#search
{
    width: 20%;
    height: 30%;
    margin-left: 15px;
    margin-top: 100px;
}
#imageProduct
{
width:60px;
height:40px;}
#card-footer
{
background-color:white;
}
#accordionEx1
{
background-color:white;
}
#cardCategory
{
    background-color:white;
    border: none;
}
h3,h1,a
{
    font-family: 'Nunito', sans-serif;
}
#container
{
    margin-left: 30px;
    margin-bottom: 15px;
}

#inputSearch
{
    margin-top: 100px;
}
#listFood
{
    border: none;
}
#listFood:hover
{
    background: #ddfae2;
}
#input
{
    border-radius: 40px;

}

