<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commandes</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/commander.css" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://wagtrung.github.io/store/themify-icons/themify-icons.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Oswald:wght@500&family=Overlock:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
    <div class="container">
        <!-- SideNav slide-out button -->
        <div class="float-left mr-2">
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="fas fa-bars green-text"></i>
            </a>
        </div>
        <a class="navbar-brand font-weight-bold" href="#">
            <strong>E-Souk</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <img th:src="@{'../img/'+ ${agriculteur.photo} +'.jpg'}" style="width: 24px;height: 24px;border-radius: 100%;margin-top: 11px;"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="#" th:text="${agriculteur.nom+' '+agriculteur.prenom}">

                    </a>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle waves-effect waves-light dark-grey-text font-weight-bold" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user green-text"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item waves-effect waves-light" href="#">Mise a jour du profil</a>
                        <a class="dropdown-item waves-effect waves-light" th:href="@{/logout}">se deconnecter</a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</nav>
<h1 th:text="${commandes.isEmpty()?'Aucune Commande ':'' }" style="margin-top: 140px;" th:class="text-center"></h1>
<div  style="margin-top: 20px;border-left: solid 1px #f5f5f5;" th:each="commande:${commandes}">
<div class="row" th:class="text-center">
  <h1 th:text="'Commande N° '+${commande.idCommande}" class="text-center" style="margin-left: 50px;"></h1>
    <h2 th:text="${' Total : '+commande.total(commande.chercherAgr(agriculteur))+' DH'}" style="margin-left: 50px;margin-right: 30px;"></h2>

    <a th:class="${commande.verifierApprouve(commande.chercherAgr(agriculteur))==0?'btn btn-orange':' btn btn-success disabled'}" th:href="@{approuver/{id}(id=${commande.idCommande})}" style="height: 40px;" th:text="${commande.approuve==0?'Approuver':'Deja Aprrouve'}"></a>
</div>
    <div class="row">
<div class="card promoting-card" th:each="ligneCommande:${commande.chercherAgr(agriculteur)}" style="width: 290px; margin: 90px 20px 50px 50px;px;">

<!-- Card content -->
<div class="card-body d-flex flex-row">

    <!-- Avatar -->
    <img th:src="@{'/img/'+ ${commande.client.photo} +'.jpg'}" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

    <!-- Content -->
    <div>

        <!-- Title -->
        <h4 class="card-title font-weight-bold mb-2" th:text="${commande.client.prenom+' '+commande.client.nom}"></h4>
        <!-- Subtitle -->
        <i class="far fa-clock pr-2"></i><p class="card-text" th:text="${' '+ commande.dateCreation}"></p>

    </div>

</div>

<!-- Card image -->
<div class="view overlay">
    <img class="card-img-top rounded-0" th:src="@{'/img/'+ ${ligneCommande.produitmettre.produit.photo} +'.jpg'}" alt="Card image cap">
    <a href="#!">
        <div class="mask rgba-white-slight"></div>
    </a>
</div>

<!-- Card content -->
<div class="card-body">

    <div class="collapse-content">

    </div>

</div>

</div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="application/javascript" src="../js/jquery-3.4.1.min.js" ></script>
</body>
</html>